:root {
  --text-color: #ffffff;
  --primary-color-text: #151515;
  --surface-overlay: #2a323d;
  --surface-ground: #20262e;
  --surface-900: #ffffff;
  --primary-color: #8dd0ff;
  --secondary-color: #5a6268;
  --error-color: #e97984;
  --surface-card: #2a323d;
}
