/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: var(--surface-ground);
  color: var(--text-color);
}
body,
app-root,
app-modules {
  overflow: hidden;
  height: 100vh;
}

h1 {
  color: var(--surface-900);
  padding: 0;
  margin: 0;
}

.card {
  border-left: 1rem solid transparent !important;
  box-shadow: none !important;
  background: var(--surface-card) !important;
  margin: 0;
  font-size: 14px;
  border-radius: 10px !important;
  padding: 15px;
  color: var(--surface-900);
}

.p-button {
  color: #ffffff;
  background: #3b82f6;
  border: 1px solid #3b82f6;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
}
.text-subtitle-color {
  color: #aaaaaa;
}
.background-color {
  background-color: var(--surface-ground) !important;
}
:root ::ng-deep .p-dropdown-label {
  color: white;
}

:host ::ng-deep .w-100 {
  width: 100%;
}
.fs-18 {
  font-size: 18px;
}

.fw-bold {
  font-weight: bold;
}
.w-100 {
  width: 100%;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.cursor-p {
  cursor: pointer;
}
/* Button back */
.btn-back {
  background-color: var(--surface-overlay) !important;
  border-color: var(--surface-overlay) !important;
  border-radius: 0 !important;
}
.btn-back:hover {
  background-color: var(--surface-overlay) !important;
  border-color: var(--surface-overlay) !important;
  opacity: 0.9 !important;
}

/* Button qualtop */
:root .btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
:root .btn-primary:enabled:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  opacity: 0.9;
}

:root .btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Button secondary */
:root .btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
:root .btn-secondary:hover {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}
:root .btn-secondary:enabled:hover {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  opacity: 0.9;
}

/* Button danger */
:root .btn-error {
  background-color: var(--error-color);
  border-color: var(--error-color);
}
:root .btn-error:enabled:hover {
  background-color: var(--error-color);
  border-color: var(--error-color);
  opacity: 0.9;
}

:root .btn-error:hover {
  background-color: var(--error-color);
  border-color: var(--error-color);
}

.error-label {
  padding: 5px;
  color: var(--error-color) !important;
}
